@media only screen and (max-width: 715px) {
    .header-nav .nav-bot {
      display: none;
    }
    .insta-wrapper{
        padding: 0px;
    }
    .index3-buy .text-wrap{
        width: 30%;
    }
    .index3-buy .text-wrap p.buy-text{
        line-height: 24px;
    }

    
  }
  @media only screen and (min-width: 715px) {
      .hamburger-menu{
          display: none;
      }
      .hide-on-desktop{
          display: none;
      }
  }
  @media only screen and (max-width: 900px) {
    .insta-wrapper{
        padding: 0px;
    }
    .info-big-text{
        font-size: 28px;
    }
  }

@media only screen and (max-width: 570px) {
 /*For mobile*/
    .hide-on-mobile{
        display: none;
    }
}

.container{
    max-width: 90%;
}
/*
@media (min-width: 1200px){
  .container {
      max-width: 90%;
  }
}
@media (min-width: 992px){
    .container {
        max-width: 90%;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 90%;
    }

}*/